In [32]:
import pandas as pd

# Series

In [33]:
dados = [1, 2, 3 , 4, 5]
series = pd.Series(dados)
series

# Assim criamos uma Series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [34]:
index = ['Linha ' + str(i) for i in range(5)]
index

# List Comprehension

series = pd.Series(dados, index = index)
series

# Dessa forma conseguimos criar um index específico para uma Series
# logo quando a criamos.

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
dtype: int64

In [35]:
data = {'Linha ' + str(i) : i + 1 for i in range(5)}
series = pd.Series(data)
series

# Também é possível criar usando uma Series usando um dicionário

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
dtype: int64

In [36]:
series_atualizada = series + 2
series_atualizada

# É possível modificar uma Series dessa maneira.

Linha 0    3
Linha 1    4
Linha 2    5
Linha 3    6
Linha 4    7
dtype: int64

In [37]:
series_final = series + series_atualizada
series_final

# É possível fazer operações como uma entre duas Series
# desde que elas possuam index's iguais.
# Caso exista um index diferente, ficará um NaN no local.

Linha 0     4
Linha 1     6
Linha 2     8
Linha 3    10
Linha 4    12
dtype: int64

In [38]:
series_atualizada = {'Linha ' + str(i) : i for i in range(6)}
series_atualizada = pd.Series(series_atualizada)

series_final = series + series_atualizada
series_final

# Nessa ficará um NaN, já uma Series tem um index diferente.

Linha 0    1.0
Linha 1    3.0
Linha 2    5.0
Linha 3    7.0
Linha 4    9.0
Linha 5    NaN
dtype: float64

# DataFrame

## Criando DataFrames

In [39]:
dados = [[1,2,3],
         [4,5,6],
         [7,8,9]]

df1 = pd.DataFrame(dados)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [40]:
index_linhas = ['Linha ' + str(i) for i in range(3)]
index_colunas = ['Coluna ' + str(i) for i in range(3)]

df1 = pd.DataFrame(dados, index = index_linhas, columns = index_colunas)
df1

# Dessa forma podemos nomear tanto as linhas quanto as colunas.

         Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3
Linha 1         4         5         6
Linha 2         7         8         9

In [41]:
data = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
        'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
        'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [42]:
df2 = pd.DataFrame(data)
df2

# Também é possível fazer usando dicionários.

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [43]:
dados =[(1,2,3),
         (4,5,6),
         (7,8,9)]

df3 = pd.DataFrame(dados, index = index_linhas, columns = index_colunas)
df3

# Também é possível usando tuplas, nesse caso uma lista de tuplas.

         Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3
Linha 1         4         5         6
Linha 2         7         8         9

## Concatenando DataFrames

In [50]:
df1 = [['A', 'A', 'A'],
       ['A', 'A', 'A'],
       ['A', 'A', 'A']]

df1 = pd.DataFrame(df1)

df2 = [['B', 'B', 'B'],
       ['B', 'B', 'B'],
       ['B', 'B', 'B']]

df2 = pd.DataFrame(df2)

df3 = [['C', 'C', 'C'],
       ['C', 'C', 'C'],
       ['C', 'C', 'C']]

df3 = pd.DataFrame(df3)

In [51]:
df4 = pd.concat([df1, df2, df3])
df4

# Aqui os dataframes foram concatenados, um embaixo do outro.

   0  1  2
0  A  A  A
1  A  A  A
2  A  A  A
0  B  B  B
1  B  B  B
2  B  B  B
0  C  C  C
1  C  C  C
2  C  C  C

In [52]:
df5 = pd.concat([df1, df2, df3], axis = 1)
df5

# Com o axis = 1, ele é concatenado lado a lado.

   0  1  2  0  1  2  0  1  2
0  A  A  A  B  B  B  C  C  C
1  A  A  A  B  B  B  C  C  C
2  A  A  A  B  B  B  C  C  C